<header class="page_header with_margin_bottom" style="background-image: url('{{ article.image.src | img_url: '1400x400', crop: 'center' }}');">
</header>

<div class="small_container with_padding_top_bottom">

  <article class="individual_post_content">
    <header class="individual_post_header">
      <h3>{{ article.published_at | date: "%B %-d, %Y" }}</h3>
      <h1>{{ article.title }}</h1>
    </header>
    <div class="rte">
      {{ article.content }}
    </div>
    {% unless article.tags == blank %}
      <p><b>Tags:</b>
        {{ article.tags | join: ', ' }}
      </p>
    {% endunless %}
  </article>

  <!-- Pagination -->

  {% assign found_current_article = false %}

  {% for blog in blog.articles %}
    {% if found_current_article %}
      {% assign next_article = blog %}
      {% break %}
    {% endif %}
    {% if blog.id == article.id %}
      {% assign found_current_article = true %}
    {% endif %}
    {% if found_current_article == false %}
      {% assign previous_article = blog %}
    {% endif %}
  {% endfor %}

  <div class="trago_pagination">
    <div class="pagination_links">
    {% if next_article %}
      <a href="{{ next_article.url }}" class="pagination_previous">
        <span class="arrow_with_circle"><i class="fa fa-angle-left"></i></span>
        <h3>Previous</h3>
      </a>
    {% endif %}
    {% if previous_article  %}
      <a href="{{ previous_article.url }}" class="pagination_next">
        <h3>Next</h3>
        <span class="arrow_with_circle"><i class="fa fa-angle-right"></i></span> 
      </a>
    {% endif %}
  </div>

</div>