{% paginate blog.articles by 20 %}

    {% for article in blog.articles %}
      {% if forloop.first == true %}

        <!-- Header w/ First Blog post featured -->

        <header class="page_header" style="background-image: url('{{ article.image.src | img_url: '1400x600', crop: 'center' }}');">
          <div class="content_container">
            <div class="content">
              <h3>{{ article.published_at | date: "%B %-d, %Y" }}</h3>
              <h1>{{ article.title }}</h1>
              <p>{{ article.excerpt }}</p>
              <a class="trago_button blue" href="{{ article.url }}">Read More</a>
            </div>
          </div>
        </header>

        <div class="container with_padding_top_bottom">
          <div class="trago_row">

      {% else %}

        <div class="column_1_2">
          <a class="blog_post" href="{{ article.url }}">
            <img src="{{ article.image.src | img_url: '500x400', crop: 'center' }}" />
            <div class="blog_post_overlay_content">
              <h3 class="post_date">{{ article.published_at | date: "%B %-d, %Y" }}</h3>
              <h2 class="font_medium">{{ article.title }}</h2>
              <h2 class="read_more font_medium">Read More <span class="arrow_with_circle"><i class="fa fa-angle-right"></i></span></h2>
            </div>
          </a>
        </div>

      {% endif %}

    {% endfor %}

      <!-- Close out the row div -->

      </div>

      <!-- Pagination -->

      {% if paginate.pages > 1 %}
        <div class="trago_pagination">
          <div class="pagination_numbers">
            {{ paginate.current_page }} of {{ paginate.pages }}
          </div>
          <div class="pagination_links">
            {% if paginate.previous.is_link %}
              <h2 class="pagination_previous"><a href="{{ paginate.previous.url }}"><span class="arrow_with_circle"><i class="fa fa-angle-left"></i></span> Previous</a></h2>
            {% endif %}
            {% if paginate.next.is_link %}
              <h2 class="pagination_next"><a href="{{ paginate.next.url }}">Next <span class="arrow_with_circle"><i class="fa fa-angle-right"></i></span></a></h2>
            {% endif %}
          </div>
        </div>
      {% endif %}

    <!-- Close out container div -->

    </div>

{% endpaginate %}