<div class="container with_padding_top_bottom">

  <header class="trago_header">
    <h1>Shopping Cart</h1>
  </header>
  
{% if cart.item_count > 0 %}

<form id="cart_form" action="/cart" method="post">
  
  <div class="cart_header">
    <div class="trago_row">
      <div class="cart_item_column">
        <h3>Item</h3>
      </div>
      <div class="cart_price_column">
        <h3>Price</h3>
      </div>
      <div class="cart_quantity_column">
        <h3>Quantity</h3>
      </div>
      <div class="cart_total_column">
        <h3>Total</h3>
      </div>
    </div>
  </div>

  {% for item in cart.items %}    

    <div class="trago_row cart_item_row" id="cart_item_row_{{ item.id }}">
      <div class="cart_item_column">
        <a href="{{ collection_url }}{{ item.url }}">
          <div class="cart_image_container">
            <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
          </div>
          <div class="cart_title_variant_container">
            <h3>{{ item.product.title }}</h3>
            {% unless item.product.type == blank %}
              <p>{{ item.product.type }}</p>
            {% endunless %}
            <p>{{ item.variant.title }}</p>
          </div>
        </a>
      </div>
      <div class="cart_price_column" id="item_price_{{ item.id }}" data-price="{{ item.price }}">{{ item.price | money }}</div>
      <div class="cart_quantity_column">
        <div class="quantity_input_container">
          <input type="number" name="updates[]" id="item_quantity_{{ item.id }}" class="quantity" onchange="updateItemPrice({{ item.id }})" value="{{ item.quantity }}" />
          <div class="quantity_controls">
            <div class="quantity_arrow quantity_up">▲</div>
            <div class="quantity_arrow quantity_down">▼</div>
          </div>
        </div>
      </div>
      <div class="cart_total_column">
        <p id="item_total_{{ item.id }}">{{ item.line_price | money }}</p>
        <i id="item_remove_{{ item.id }}" onclick="removeItem({{ item.id }})" class="fa fa-times"></i>
      </div>
    </div>

  {% endfor %}

  <div class="cart_bottom">
    <div class="cart_bottom_container">
      <h1 class="font_medium text_blue" id="cart_total">{{ cart.total_price | money }}</h1>
      <input type="submit" name="checkout" value="Checkout" class="trago_button blue" />
    </div>
  </div>

</form>

{% else %}

  <h2>It appears that your cart is currently empty!</h2>
  <p>You can continue browsing <a href="/pages/shop">here</a>.</p>

{% endif %}

<script>

  // Each time an item quantity is changed then update the elements prices on the page and the cart object.

  function updateItemPrice(itemID) {

    // Capture the quantity and price for the specific item

    var itemQuantity = document.getElementById('item_quantity_' + itemID).value;

    var itemPrice = document.getElementById('item_price_' + itemID).getAttribute('data-price');

    // Calculate the new item total

    var itemTotal = itemQuantity * itemPrice;

    // Convert the total to the Shopify Money format

    var formattedTotal = Shopify.formatMoney(itemTotal, "{{ shop.money_format }}" );

    // Set the new item total.

    document.getElementById('item_total_' + itemID).innerHTML = formattedTotal;

    // Push the updates using the Shopify AJAX API.

    jQuery.post('/cart/change.js', { quantity: itemQuantity, id: itemID }, function(data){

      // Get the new cart item count and total from the response data.

      var newCartItemCount = data.item_count;
      var newCartTotal = data.total_price;
      var formattedCartTotal = Shopify.formatMoney(newCartTotal, "{{ shop.money_format }}" );

      // Set the new cart total

      document.getElementById('cart_total').innerHTML = formattedCartTotal;

      // Set the new cart count in the navigation.

      document.getElementById('cart_count').innerHTML = '[' + newCartItemCount + ']';

    }, 'json');

  }

  function removeItem(itemID) {

    jQuery.post('/cart/change.js', { quantity: 0, id: itemID }, function(data){

      // Fade out the item row that was removed

      jQuery('#cart_item_row_' + itemID).fadeOut('slow');

      // Get the new cart item count and total from the response data.

      var newCartItemCount = data.item_count;
      var newCartTotal = data.total_price;
      var formattedCartTotal = Shopify.formatMoney(newCartTotal, "{{ shop.money_format }}" );

      // Set the new cart total

      document.getElementById('cart_total').innerHTML = formattedCartTotal;

      // Set the new cart count in the navigation.

      document.getElementById('cart_count').innerHTML = '[' + newCartItemCount + ']';

    }, 'json');

  }
</script>