<header class="page_header" style="background-image: url('{{ 'homepage_header.jpg' | asset_url }}');">
	<div class="content_container">
		<div class="content">
			<h1>Hydration Reimagined</h1>
			<p>Track and boost your hydration for peak performance. Meet your Personalized Hydration System.</p>
			<a href="/pages/shop" class="trago_button blue">Buy Now</a>
		</div>
	</div>
	<div class="down_arrow">
		<i class="fa fa-angle-down"></i>
	</div>
</header>

<main class="page_content">

	<!-- Hydration System -->

	<section class="trago_panel background_blue">
		<div class="container">
			<div class="trago_row">
				<div class="column_2_5">
					<img src="{{ 'Trago_Final_IconsWhite-12.png' | asset_url }}" />
				</div>
				<div class="column_3_5 flex_vertical_center">
					<h1>Trago Hydration System</h1>
					<ul class="hydration_system">
						<li>
							<div class="hydration_system_number">
								<span>1</span>
							</div> 
							<div class="hydration_system_text">
								<h3>A Technology-Enabled Smart Cap</h3>
								<p>Keep continuous track of hydration levels.</p>
							</div>
						</li>
						<li>
							<div class="hydration_system_number">
								<span>2</span>
							</div>
							<div class="hydration_system_text">
								<h3>Organic Clean Nutrition Hydration Boosts</h3>
								<p>Optimize hydration levels for sustained peak performance</p>
							</div>
						</li>
						<li>
							<div class="hydration_system_number">
								<span>3</span>
							</div>
							<div class="hydration_system_text">
								<h3>Fully Integrated App</h3>
								<p>Sync to your favorite fitness device and Trago smart cap.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Three Products -->

	<section class="trago_panel">
		<div class="container center">
			<h1>Trago Products</h1>
			<div class="trago_row">
				<div class="column_1_3 stretch_height">
					<img src="{{ 'homepage_cap.png' | asset_url }}" />
					<div class="content">
						<h3>Trago Cap</h3>
						<p>Track your fluid consumption with our versatile smart cap with patent-pending level sensing technology.</p>
					</div>
					<a href="products/trago-cap" class="trago_button blue">Buy Now</a>
				</div>
				<div class="column_1_3 stretch_height">
					<img src="{{ 'homepage_boosts.png' | asset_url }}" />
					<div class="content">
						<h3>Trago Boosts</h3>
						<p>Optimize your hydration with our clean-label powders designed specifically for your body.</p>
					</div>
					<a href="/pages/trago-boosts" class="trago_button blue">Learn More</a>
				</div>
				<div class="column_1_3 stretch_height">
					<img src="{{ 'homepage_app.png' | asset_url }}" />
					<div class="content">
						<h3>Trago App</h3>
						<p>Sync your favorite fitness trackers, apps and Trago cap to your phone to stay hydrated and performing at 100%.</p>
					</div>
					<a href="/pages/trago-app" class="trago_button blue">Download</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Featured In -->

	<section class="trago_panel background_darkblue">
		<div class="container center text_white">
			<h2>Featured In</h1>
			<ul class="press_images">
				<li data-name="womensrunning" class="active"><img src="{{ 'press_womenrunning.png' | asset_url }}"></li>
				<li data-name="forbes"><img src="{{ 'press_forbes.png' | asset_url }}"></li>
				<li data-name="venturebeat"><img src="{{ 'press_venturebeat.png' | asset_url }}"></li>
				<li data-name="outside"><img src="{{ 'press_outside.png' | asset_url }}"></li>
			</ul>
			<div class="press_quotes">
				<p class="womensrunning active">'Personalized hydration is the new Gatorade'</p>
				<p class="forbes">'User specific algorithm determines personalized hydration goals'</p>
				<p class="venturebeat">'Trago...the first smart water bottle'</p>
				<p class="outside">'The world’s first precise way to measure hydration'</p>
			</div>
		</div>
	</section>

	<!-- Why Hydrate -->

	<section class="trago_panel">
		<div class="container center">
			<div class="small_container">
				<h1 class="text_darkblue">Why Hydrate</h1>
				<p class="text_darkblue margin_bottom_50">Water is 60% of the human body and by far our body’s most critical nutrient. It makes us go and keep us at our best - mentally and physically.</p>
			</div>
			<div class="trago_row text_blue">
				<div class="column_1_3 icon_text_column">
					<img src="{{ 'Trago_Final_IconsBlue-14.png' | asset_url }}" />
					<h3>Improved Performance</h3>
					<p>Increase blood flow and muscle control, and regulate core body temperature for optimized health and workouts.</p>
				</div>
				<div class="column_1_3 icon_text_column">
					<img src="{{ 'Trago_Final_IconsBlue-15.png' | asset_url }}" />
					<h3>Faster Recovery Time</h3>
					<p>Increase muscle growth and reduce soreness and risk of injury.</p>
				</div>
				<div class="column_1_3 icon_text_column">
					<img src="{{ 'Trago_Final_IconsBlue-13.png' | asset_url }}" />
					<h3>Clearer Focus</h3>
					<p>83% of the human brain is water. Staying hydrated helps with focus, memory, clarity and creativity.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- One Size Doesn't Fit All -->

	<section class="trago_panel background_blue center">
		<div class="container">
			<div class="small_container">
				<h1>One Size Doesn't Fit All</h1>
				<p>“Eight 8oz glasses a day” is a myth. How much water you should drink depends on unique factors like your body type, environment, activity and a host of other factors. Modern science says hydration is personal, but there’s never been a personalized solution. Until now.</p>
			</div>
			<a href="/pages/shop" class="trago_button white">Buy Now</a>
			<img src="{{ 'Trago_Final_IconsWhite-16.png' | asset_url }}" />
		</div>
	</section>
</main>