<!-- Shop Featured Collection -->

{% for collection in linklists.shop-featured-product.links %}
  <div class="trago_panel background_white">
    <div class="container">
      
      <header class="trago_header">
        <h1>{{ collection.object.title }}</h1>
        <p>{{ collection.object.description }}</p>
      </header>

      {% for product in collection.object.products %}

        {% include 'product_template' %}

        {% include 'product_script' %}

      {% endfor %}

    </div>
  </div>
{% endfor %}

<!-- Shop Collections -->

{% for collection in linklists.shop-collections.links %}
  <header class="page_header">
    <img src="{{ collection.object.image.src | img_url: 'original' }}" />
    <div class="content_container">
      <div class="content">
        <h1>{{ collection.object.title }}</h1>
        <p>{{ collection.object.description }}</p>
      </div>
    </div>
  </header>
  <div class="trago_panel">
    <div class="container">
      <div class="trago_row">

        <!-- If collection has more than 1 product then show the different products -->

        {% if collection.object.products_count > 1 %}
          {% for product in collection.object.products %}
            <div class="column_1_3 center">
              <a href="{{ product.url }}" class="individual_product_container">
                <img src="{{ product.featured_image | img_url: 'original' }}" />
                <h2>{{ product.title }}</h2>
                <h2 class="font_medium">{{ product.type }}</h2>
                <p class="text_blue">Starting at {{ product.price_min | money }}</p>
                <span class="trago_button blue">Purchase</span>
              </a>
            </div>
          {% endfor %}

        <!-- If collection has 1 product then show its variants -->
        
        {% else %}
          {% assign used = '' %}
          {% for variant in collection.object.products[0].variants %}
            {% unless used contains variant.option1 %}
              <div class="column_1_3 center">
                <a href="{{ variant.url }}" class="individual_product_container">
                  <img src="{{ variant.image | img_url: 'original' }}" />
                  <h2>{{ collection.object.products[0].title }}</h2>
                  <p>{{ variant.price | money }}</p>
                  <span class="trago_button blue">Purchase</span>
                </a>
              </div>
            {% endunless %}
            {% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}