<div class="small_container with_padding_top_bottom">
  
  <article class="individual_post_content">
    <header class="individual_post_header">
      <h1>{{ page.title }}</h1>
    </header>
    <div class="rte">
      {{ page.content }}
    </div>
  </article>

</div>