<header class="page_header" style="background-image: url('{{ 'app_header.jpg' | asset_url }}');">
	<div class="product_header_content_container">
		<div class="product_header_content">
			<div class="icon">
				<img src="{{ 'Trago_Final_IconsBlue-31.png' | asset_url }}" />
			</div>
			<div class="content">
				<h2>Trago App</h2>
				<h1>Find Your Flow</h1>
				<a href="" class="trago_button blue">Download</a>
			</div>
		</div>
	</div>
	<div class="down_arrow">
		<i class="fa fa-angle-down"></i>
	</div>
</header>

<div class="page_navigation_dots_container">
	<ul class="page_navigation_dots no_bullets">
		<li data-target="panel1">
			<span class="blue_dot"></span>
			<span class="panel_title">Personalized Goals</span>
		</li>
		<li data-target="panel2">
			<span class="blue_dot"></span>
			<span class="panel_title">Pro-Active Tips</span>
		</li>
		<li data-target="panel3">
			<span class="blue_dot"></span>
			<span class="panel_title">Sync Up & Drink Up</span>
		</li>
		<li data-target="panel4">
			<span class="blue_dot"></span>
			<span class="panel_title">Better Together</span>
		</li>
		<li data-target="panel5">
			<span class="blue_dot"></span>
			<span class="panel_title">Download</span>
		</li>
	</ul>
</div>

<main class="page_content">

	<section class="trago_product_panel background_gradient" id="panel1">
		<div class="container">
			<div class="trago_row">
				<div class="column_1_2 media_container">
					<img src="{{ 'personalization.gif' | asset_url }}">
				</div>
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-02.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Personalized Goals</h3>
							<p>Founded in elite hydration science, our digital platform integrates body type, local weather, activity level and fluid intake to provide personalized hydration goals and reminders.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_gradient" id="panel2">
		<div class="container">
			<div class="trago_row image_on_right">
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-04.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Pro-Active Tips</h3>
							<p>Trago goes beyond monitoring. Our app provides predictive, personalized, and actionable feedback and notifications so you can optimize your intake at the right time, well before your body tells you it’s dehydrated.</p>
						</div>
					</div>
				</div>
				<div class="column_1_2 media_container">
					<img src="{{ 'notification.gif' | asset_url }}">
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_gradient" id="panel3">
		<div class="container">
			<div class="trago_row">
				<div class="column_1_2 media_container">
					<img src="{{ 'fitbit.gif' | asset_url }}" />
				</div>
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-08.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Sync Up & Drink Up</h3>
							<p>Dynamically receive real-time data from activity trackers and Trago cap to automatically adjust hydration recovery schedules. Our clean interface illustrates hydration’s connection to activity, sleep, and overall health.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_gradient" id="panel4">
		<div class="container">
			<div class="trago_row image_on_right">
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-11.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Better Together</h3>
							<p>You don’t have to be alone in tracking hydration. Anyone can create a group and monitor the hydration levels of teams, training partners, or friends so you can collectively set goals and stay accountable.</p>
						</div>
					</div>
				</div>
				<div class="column_1_2 media_container">
					<img src="{{ 'team.gif' | asset_url }}">
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_lightblue" id="panel5">
		<div class="container">
			<div class="trago_row">
				<div class="column_1_2 media_container">
					<img src="{{ 'app_phones.png' | asset_url }}">
				</div>
				<div class="column_1_2 flex_vertical_center">
					<h2>Download</h2>
					<p>Digital platform syncs to smart cap and the most popular fitness devices. Automated personal activity and hydration goals are at your fingertips.</p>
					<div class="download_apps">
						<a href="" target="_blank"><img src="{{ 'googlestore.png' | asset_url }}"></a>
						<a href="" target="_blank"><img src="{{ 'applestore.png' | asset_url }}"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>