<header class="page_header" style="background-image: url('{{ 'about_header.jpg' | asset_url }}');">
	<div class="content_container">
		<div class="content">
			<h1>Personalized <br />Hydration System</h1>
			<p>Trago combines modern connected technology with best-in-class hydration Boosts for a completely personalized hydration experience. </p>
		</div>
	</div>
</header>

<!-- Our Story -->

<section class="trago_panel background_blue">
	<div class="container">
		<div class="trago_row image_on_right">
			<div class="column_3_5">
				<h2>{{ pages.our-story.title }}</h2>
				{{ pages.our-story.content }}
			</div>
			<div class="column_2_5">
				<img src="{{ 'brothers.png' | asset_url }}">
			</div>
		</div>
	</div>
</section>

<!-- Our Team -->

<section class="trago_panel">
	<div class="container">
		<header class="center">
			<div class="small_container">
				<h2>Our Team</h2>
				<p>At Trago, we are privileged to work with some of the best scientists in the world in the fields of hydration and sport nutrition.</p>
			</div>
		</header>
		<div class="trago_row">
			<div class="column_1_4">
				<img src="{{ 'mark.png' | asset_url }}">
			</div>
			<div class="column_3_4 flex_vertical_center">
				<h3>{{ pages.dr-mark-kovacs-phd.title }}</h3>
				{{ pages.dr-mark-kovacs-phd.content }}
			</div>
			<div class="column_1_4">
				<img src="{{ 'stacey.png' | asset_url }}">
			</div>
			<div class="column_3_4 flex_vertical_center">
				<h3>{{ pages.dr-stacey-simms-phd.title }}</h3>
				{{ pages.dr-stacey-simms-phd.content}}
			</div>
			<div class="column_1_4">
				<img src="{{ 'aaron.png' | asset_url }}">
			</div>
			<div class="column_3_4 flex_vertical_center">
				<h3>{{ pages.aaron-grossberg-md.title }}</h3>
				{{ pages.aaron-grossberg-md.content }}
			</div>
		</div>
	</div>
</section>

<!-- We Give A Drop -->

<section class="trago_panel background_blue">
	<div class="container">
		<div class="trago_row image_on_right">
			<div class="column_3_5">
				<h2>{{ pages.we-give-a-drop.title }}</h2>
				{{ pages.we-give-a-drop.content }}
				<a href="http://onepercentfortheplanet.org" target="_blank" class="trago_button dark_blue">Learn More</a>
			</div>
			<div class="column_2_5">
				<img src="{{ 'onepercent.png' | asset_url }}">
			</div>
		</div>
	</div>
</section>