<!-- Featured Collection -->

{% for collection in linklists.shop-featured-product.links %}
  <div class="trago_panel background_white">
    <div class="container">
      
      <header class="trago_header">
        <h1 class="font_medium">{{ collection.object.title }}</h1>
        <p>{{ collection.object.description }}</p>
      </header>

      {% assign product = collection.object.products[0] %}

      {% if product.template_suffix == 'color-selection' %}

        {% include 'product_template_color_selection' %}

      {% else %}

        {% include 'product_template' %}

      {% endif %}

    </div>
  </div>
{% endfor %}

<!-- All Collections -->

<div class="shop_collections">

  {% for collection in linklists.shop-collections.links %}

    <!-- Individual Collection -->
    
    <div class="trago_panel">
      <header class="individual_post_header">
        <div class="container">
          <h1 class="font_medium">{{ collection.object.title }}</h1>
          <p>{{ collection.object.description }}</p>
        </div>
      </header>
      <div class="container">

        <div class="trago_row">

            {% assign used = '' %}
            {% for variant in collection.object.products[0].variants %}
              {% unless used contains variant.option1 %}
                <div class="column_1_3 center stretch_height">
                  <a href="{{ variant.url }}" class="individual_product_container">
                    <img src="{{ variant.image | img_url: 'original' }}" />
                    <h3>{{ collection.object.products[0].title }}</h3>
                    <h3 class="font_medium">{{ variant.option1 }}</h3>
                    {% if collection.object.products[0].price_varies %}
                      <p class="text_blue">Starting at {{ collection.object.products[0].price_min | money }}</p>
                    {% else %}
                      <p>{{ variant.price | money }}</p>
                    {% endif %}
                    <span class="trago_button blue">Purchase</span>
                  </a>
                </div>
              {% endunless %}
              {% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
            {% endfor %}
          
        </div>
        
      </div>
    </div>
  {% endfor %}

  <!-- Hydration Boosts Email Capture -->

  <div class="trago_panel">
    <header class="individual_post_header">
      <div class="container">
        <h1 class="font_medium">Hydration Boosts</h1>
      </div>
    </header>
    <div class="container">
      <div class="trago_row">
        <div class="column_1_2 media_container">
          <img src="{{ 'boosts_coming_soon.png' | asset_url }}">
        </div>
        <div class="column_1_2 flex_vertical_center">
          <h2>Coming Spring 2017</h2>
          <p>Sign up for early access to be notified when we launch Boosts.</p>
          {% include 'mailchimp_form' %}
        </div>
      </div>
    </div>
  </div>
  
</div>