<header class="page_header" style="background-image: url('{{ 'boosts_header.jpg' | asset_url }}');">
	<div class="product_header_content_container">
		<div class="product_header_content">
			<div class="icon">
				<img src="{{ 'Trago_Final_IconsBlue-32.png' | asset_url }}" />
			</div>
			<div class="content">
				<h2>Trago Boosts</h2>
				<p>It's not just how much you drink, but WHAT you drink that matters. Developed in partnership with leading hydration scientists and athletes, Trago's clean-label hydration mixes are best in class. The future of hydration will be driven by your personal health and activity data. Use Trago Boosts to experience the full power of Trago's Personalized Hydration System™. Sign up for early access to be notified when we launch Boosts.</p>
				{% include 'mailchimp_form' %}
			</div>
		</div>
	</div>
	<div class="down_arrow">
		<i class="fa fa-angle-down"></i>
	</div>
</header>

<div class="page_navigation_dots_container">
	<ul class="page_navigation_dots no_bullets">
		<li data-target="panel1">
			<span class="blue_dot"></span>
			<span class="panel_title">Clean Hydration</span>
		</li>
		<li data-target="panel2">
			<span class="blue_dot"></span>
			<span class="panel_title">Electrolyte Connection</span>
		</li>
		<li data-target="panel3">
			<span class="blue_dot"></span>
			<span class="panel_title">Right Fuel, Right Time</span>
		</li>
		<li data-target="panel4">
			<span class="blue_dot"></span>
			<span class="panel_title">Different Strokes</span>
		</li>
		<li data-target="panel5">
			<span class="blue_dot"></span>
			<span class="panel_title">Boosts</span>
		</li>
	</ul>
</div>

<main class="page_content">

	<section class="trago_product_panel background_gradient" id="panel1">
		<div class="container">
			<div class="trago_row">
				<div class="column_1_2 media_container">
					<img src="{{ 'fruitwBoosts.png' | asset_url }}">
				</div>
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-05.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Clean Hydration</h3>
							<p>Market-leading whole fruit-based ingredients to boost your hydration with the most healthy, natural ingredients. Trago Boosts are:<br />- Non-GMO<br />- Gluten Free<br />- No artificial colors<br />- Plant-based <br />- Vegan<br />- Delicious<br />- 70 Calories</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel no_bottom_padding background_gradient" id="panel2">
		<div class="container">
			<div class="trago_row image_on_right">
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-07.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Electrolyte Connection</h3>
							<p>Trago app tracks in real-time how taking boosts impact your performance.</p>
						</div>
					</div>
				</div>
				<div class="column_1_2 media_container">
					<img src="{{ 'boost_animation.gif' | asset_url }}" />
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_gradient" id="panel3">
		<div class="container">
			<div class="trago_row">
				<div class="column_1_2 media_container">
					<img src="{{ 'boosts.gif' | asset_url }}">
				</div>
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-06.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Right Fuel, Right Time</h3>
							<p>Optimized ingredients for you to deliver peak benefits when you need them most.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_gradient" id="panel4">
		<div class="container">
			<div class="trago_row image_on_right">
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-11.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Different Strokes</h3>
							<p>We champion what makes everyone unique and deliver personalized solutions. Men, women and children have different physiological makeups so optimized hydration for each sex is different.</p>
						</div>
					</div>
				</div>
				<div class="column_1_2 media_container">
					<img src="{{ 'boosts_icon.png' | asset_url }}">
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_lightblue" id="panel5">
		<div class="container">
			<div class="trago_row">
				<div class="column_1_2 media_container">
					<img src="{{ 'boosts_coming_soon.png' | asset_url }}">
				</div>
				<div class="column_1_2 flex_vertical_center">
					<h2>Coming Soon</h2>
					<p>Thanks for your interest in Boosts, our clean hydration powder packs. For early access to Boosts, sign up here.</p>
					{% include 'mailchimp_form' %}
				</div>
			</div>
		</div>
	</section>

</main>