<header class="page_header" style="background-image: url('{{ 'cap_header.jpg' | asset_url }}');">
	<div class="product_header_content_container">
		<div class="product_header_content">
			<div class="icon">
				<img src="{{ 'Trago_Final_IconsBlue-30.png' | asset_url }}" />
			</div>
			<div class="content">
				<h2>Trago Cap</h2>
				<h1>Hydrate Smarter</h1>
				<a href="/pages/shop" class="trago_button blue">Buy Now</a>
			</div>
		</div>
	</div>
	<div class="down_arrow">
		<i class="fa fa-angle-down"></i>
	</div>
</header>

<div class="page_navigation_dots_container">
	<ul class="page_navigation_dots no_bullets">
		<li data-target="panel1">
			<span class="blue_dot"></span>
			<span class="panel_title">Every Drop Counts</span>
		</li>
		<li data-target="panel2">
			<span class="blue_dot"></span>
			<span class="panel_title">Fits Like A Champ</span>
		</li>
		<li data-target="panel3">
			<span class="blue_dot"></span>
			<span class="panel_title">Integrate To Elevate</span>
		</li>
		<li data-target="panel4">
			<span class="blue_dot"></span>
			<span class="panel_title">Always On</span>
		</li>
		<li data-target="panel5">
			<span class="blue_dot"></span>
			<span class="panel_title">Trago Cap</span>
		</li>
	</ul>
</div>

<main class="page_content">

	<section class="trago_product_panel background_gradient" id="panel1">
		<div class="container">
			<div class="trago_row">
				<div class="column_1_2 media_container">
					<img src="{{ 'sonar_animation.gif' | asset_url }}" style="margin: 0 auto; width: 250px;">
				</div>
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-01.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Every Drop Counts</h3>
							<p>Sonar technology measures the change in fluid level in your bottle to a fraction of an ounce so you know your precise intake. Works for any fluid, not just water.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_gradient" id="panel2">
		<div class="container">
			<div class="trago_row image_on_right">
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-03.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Fits Like A Champ</h3>
							<p>Versatile design fits onto any standard wide-mouth water bottle (including Nalgene, Hydro Flask and Camelbak) so you can twist on and roll out to wherever the next adventures takes you.</p>
						</div>
					</div>
				</div>
				<div class="column_1_2 media_container">
					<div class="trago_slider flexslider">
						<ul class="slides">
							<li><img src="{{ 'slider_bottle1.png' | asset_url }}"></li>
							<li><img src="{{ 'slider_bottle2.png' | asset_url }}" /></li>
							<li><img src="{{ 'slider_bottle3.png' | asset_url }}"></li>
							<li><img src="{{ 'slider_bottle4.png' | asset_url }}" /></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_gradient" id="panel3">
		<div class="container">
			<div class="trago_row">
				<div class="column_1_2 media_container">
					<img src="{{ 'heartrate.gif' | asset_url }}" />
				</div>
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-09.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Integrate To Elevate</h3>
							<p>Seamless technology syncs real-time data between your fitness devices and your Trago app so you can see hydration’s impact throughout your life. Connects to Google Fit, Apple Healthkit, UA Record and Fitbit.</p>
							<ul class="app_icons">
								<li><img src="{{ 'ite_icon_applehealth.png' | asset_url }}" /><p>Apple Healthkit</p></li>
								<li><img src="{{ 'ite_icon_underarmourrecord.png' | asset_url }}" /><p>UA Record</p></li>
								<li><img src="{{ 'ite_icon_fitbit.png' | asset_url }}" /><p>Fitbit</p></li>
								<li><img src="{{ 'ite_icon_googlehealth.png' | asset_url }}" /><p>Google Fit</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_gradient" id="panel4">
		<div class="container">
			<div class="trago_row image_on_right">
				<div class="column_1_2 flex_vertical_center">
					<div class="icon_text_container">
						<div class="icon">
							<img src="{{ 'Trago_Final_IconsBlue-10.png' | asset_url }}" />
						</div>
						<div class="text">
							<h3>Always On</h3>
							<p>6-month life on a standard easy-to-replace coin cell battery means you can hydrate day and night and far from home, for less hassle and more hydration.</p>
						</div>
					</div>
				</div>
				<div class="column_1_2 media_container">
					<img src="{{ 'campsite.gif' | asset_url }}">
				</div>
			</div>
		</div>
	</section>

	<section class="trago_product_panel background_lightblue" id="panel5">
		<div class="container">

			{% assign product = all_products.trago-cap %}

			{% include 'product_template_color_selection' %}
	      
		</div>
	</section>
</main>