{% comment %}

Default product page template. Includes the product_template snippet which
Shows a standard slider of the product images and allows for up to 3 product select dropdowns.

{% endcomment %}

<div class="product" itemscope itemtype="http://schema.org/Product">
	
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  
  <!-- Breadcrumbs -->

  {% include 'trago_breadcrumbs' %}

  <!-- Product w/ Images & Information -->

  <div class="container trago_panel">

    {% include 'product_template' %}
    
  </div>

  <!-- Product Tabs -->
  
  {% capture product_tabs %}{{ product.handle }}-tabs{% endcapture %}

  {% include 'product_tabs' %}
  
</div>