{% comment %}

Special product template to show color selections for products and show the respective
images for each color.

{% endcomment %}

<div class="product" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  
  <!-- Breadcrumbs -->

  {% include 'trago_breadcrumbs' %}

  <!-- Product w/ Images & Information -->

  <div class="container trago_panel">

    {% include 'product_template_color_selection' %}
    
  </div>

  <!-- Product Tabs -->
  
  {% capture product_tabs %}{{ product.handle }}-tabs{% endcapture %}

  {% include 'product_tabs' %}
  
</div>