<div class="container with_padding_top_bottom">

  <header class="individual_post_header">
      <h1>Your Account</h1>
  </header>

  <div class="trago_row">

    <div class="column_1_4">
      <h3>Address</h3>
      {{ customer.name }}<br>
      {% if customer.default_address != nil %}
        <p>
        {{ customer.default_address.address1 }}

        {% if customer.default_address.address2 != "" %}
          {{ customer.default_address.address2 }}<br>
        {% endif %}

        {% if customer.default_address.city != "" %}
          {{ customer.default_address.city }},
        {% endif %}

        {% if customer.default_address.province_code != "" %}
          {{ customer.default_address.province_code | upcase }},
        {% endif %}

        {% if customer.default_address.zip != "" %}
          {{ customer.default_address.zip | upcase }}<br>
        {% endif %}

        {% if customer.default_address.country != "" %}
          {{ customer.default_address.country }}<br>
        {% endif %}

        {% if customer.default_address.phone != "" %}
          {{ customer.default_address.phone }}
        {% endif %}
        </p>
      {% endif %}

      <p><a href="/account/addresses">Add/Edit Address</a></p>

      <a class="trago_button blue" href="/account/logout">Logout</a>
      
    </div>

    <div class="column_3_4">
      <h3>Orders</h3>
      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <div class="trago_table">
            <div class="trago_table_row trago_table_header">
              <div class="trago_table_cell">Number</div>
              <div class="trago_table_cell">Date</div>
              <div class="trago_table_cell">Payment</div>
              <div class="trago_table_cell">Fulfillment Status</div>
              <div class="trago_table_cell right">Total</div>
            </div>
            <div class="trago_table_body">
              {% for order in customer.orders %}
                <div class="trago_table_row">
                  <div class="trago_table_cell">{{ order.name | link_to: order.customer_url }}</div>
                  <div class="trago_table_cell">{{ order.created_at | date: "%b %d, %Y" }}</div>
                  <div class="trago_table_cell">{{ order.financial_status_label }}</div>
                  <div class="trago_table_cell">{{ order.fulfillment_status_label }}</div>
                  <div class="trago_table_cell right">{{ order.total_price | money }}</div>
                </div>
              {% endfor %}
            </div>
          </div>

        {% else %}

          <p>Currently no orders.</p>

        {% endif %}
        {% if paginate.pages > 1 %}
          <hr>
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}
      {% endpaginate %}
    </div>

  </div>

</div>
