<div class="container with_padding_top_bottom">
  
  <header class="individual_post_header">
      <h1 id="login_title">Acount Activation</h1>
  </header>

 <div class="login_form">
    {% form 'activate_customer_password' %}

      {{ form.errors | default_errors }}

      <label for="CustomerPassword">Password</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword">

      <label for="CustomerPasswordConfirmation">Confirm Password</label>
      <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation">

      <input type="submit" value="Submit">
      <input type="submit" name="decline" value="Cancel">

    {% endform %}
 </div>

</div>