<div class="container with_padding_top_bottom">

  <header class="individual_post_header">
      <h1>Addresses</h1>
  </header>

  {% paginate customer.addresses by 5 %}

    <!-- Add Address Form -->

    <div id="add_address" style="display:none;">
      <div class="login_form left_aligned">
        {% form 'customer_address', customer.new_address %}

          <h2>Add New</h2>

          <label for="AddressFirstNameNew">First Name</label>
          <input type="text" id="AddressFirstNameNew" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">

          <label for="AddressLastNameNew">Last Name</label>
          <input type="text" id="AddressLastNameNew" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">

          <label for="AddressCompanyNew">Company</label>
          <input type="text" id="AddressCompanyNew" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">

          <label for="AddressAddress1New">Address 1</label>
          <input type="text" id="AddressAddress1New" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">

          <label for="AddressAddress2New">Address 2</label>
          <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">

          <label for="AddressCityNew">City</label>
          <input type="text" id="AddressCityNew" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">

          <label for="AddressCountryNew">Country</label>
          <select id="AddressCountryNew" class="input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>

          <div id="AddressProvinceContainerNew" style="display:none">
            <label for="AddressProvinceNew">Province</label>
            <select id="AddressProvinceNew" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
          </div>
          
          <label for="AddressZipNew">Zip Code</label>
          <input type="text" id="AddressZipNew" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">

          <label for="AddressPhoneNew">Phone</label>
          <input type="tel" id="AddressPhoneNew" class="input-full" name="address[phone]" value="{{ form.phone }}">
          
          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new" class="inline">Set As Default</label>
          </p>

          <p><input type="submit" class="trago_button blue" value="Add"></p>
          <p><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a></p>

        {% endform %}
      </div>
    </div>
    
    <!-- List Customer Addresses -->

    {% for address in customer.addresses %}

      <div class="individual_address_container">

        <h3>
          {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
          {% if address == customer.default_address %}(Default Address){% endif %}
        </h3>
        <p>
          {% unless address.company == blank %}
            {{ address.company }}<br>
          {% endunless %}
          {{ address.street }}<br>
          {{ address.city | capitalize }},
          {% if address.province_code %}
            {{ address.province_code | upcase }}<br>
          {% endif %}
          {{ address.zip | upcase }}<br>
          {{ address.country }}<br>
          {{ address.phone }}
        </p>

        {{ 'Edit' | edit_customer_address_link: address.id }} |
        {{ 'Delete' | delete_customer_address_link: address.id }}

      </div>

      <!-- Unique Edit Address Form -->

      <div id="edit_address_{{address.id}}" class="edit_address" style="display:none;">
        
        {% form 'customer_address', address %}

          <h3>Edit Address</h3>

          <div class="login_form left_aligned">
            <label for="AddressFirstName_{{ form.id }}">First Name</label>
            <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">

            <label for="AddressLastName_{{ form.id }}">Last Name</label>
            <input type="text" id="AddressLastName_{{ form.id }}" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">

            <label for="AddressCompany_{{ form.id }}">Company</label>
            <input type="text" id="AddressCompany_{{ form.id }}" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">

            <label for="AddressAddress1_{{ form.id }}">Address 1</label>
            <input type="text" id="AddressAddress1_{{ form.id }}" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">

            <label for="AddressAddress2_{{ form.id }}">Address 2</label>
            <input type="text" id="AddressAddress2_{{ form.id }}" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">

            <label for="AddressCity_{{ form.id }}">City</label>
            <input type="text" id="AddressCity_{{ form.id }}" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">

            <label for="AddressCountry_{{ form.id }}">Country</label>
            <select id="AddressCountry_{{ form.id }}" class="input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>

            <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
              <label for="AddressProvince_{{ form.id }}">Province</label>
              <select id="AddressProvince_{{ form.id }}" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
            </div>

            <label for="AddressZip_{{ form.id }}">Zip Code</label>
            <input type="text" id="AddressZip_{{ form.id }}" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">

            <label for="AddressPhone_{{ form.id }}">Phone</label>
            <input type="tel" id="AddressPhone_{{ form.id }}" class="input-full" name="address[phone]" value="{{ form.phone }}">
          </div>

          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_{{ form.id }}" class="inline">Set As Default</label>
          </p>

          <p><input type="submit" class="trago_button blue" value="Update"></p>
          <p><a href="#" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">Cancel</a></p>

        {% endform %}

      </div>

    {% endfor %}

    {% if paginate.pages > 1 %}
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

    <a href="#" class="trago_button blue" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add New Address</a>

    <a href="/account" class="trago_button dark_blue">Back To Account</a>

    <script>

      // Initialize observers on address selectors

      new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
        hideElement: 'AddressProvinceContainerNew'
      });

      // Setup province selector on each customer address
      
      {% for address in customer.addresses %}
        new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
          hideElement: 'AddressProvinceContainer_{{ address.id }}'}
        );
      {% endfor %}

    </script>

  {% endpaginate %}
</div>