<div class="container with_padding_top_bottom">
  
  <header class="individual_post_header">
      <h1 id="login_title">Login</h1>
  </header>

 <div class="login_form">

    <div class="customer_login_form">
      {% form 'customer_login' %}

      {{ form.errors | default_errors }}

      <label for="customer_email">Email Address</label>
      <input type="email" name="customer[email]" />

      <label for="customer_password" class="forgot_password_label">
        <span>Password</span>
        <a id="forgot_password" class="text_blue">Forgot Password?</a>
      </label>
      <input type="password" name="customer[password]" />

      <input type="submit" value="Sign In" />

      {% endform %}
      
      <!-- Guest Checkout -->

      {% if shop.checkout.guest_login %}
        {% form 'guest_login' %}
          <input type="submit" value="Continue as Guest" />
        {% endform %}
      {% else %}
      {% endif %}

      <a href="/account/register">New customer? <span class="text_blue">Create an account.</span></a>

    </div>

    <div class="recover_password_form">

      <!-- Forgot Password -->

      {% form 'recover_customer_password' %}

        {{ form.errors | default_errors }}

        <label for="customer_email">Email Address</label>
        <input type="email" name="email" />

        <input type="submit" value="Submit" />

      {% endform %}

      <button id="cancel_forgot_password">Cancel</button>

    </div>

  </div>

</div>