<div class="container with_padding_top_bottom">

  <header class="individual_post_header">
      <h1>{{ order.name }}</h1>
  </header>

  <div class="trago_row">

    <div class="column_1_4">

      <h3>Billing Address</h3>

      <p><strong>Payment Status:</strong> {{ order.financial_status_label }}</p>
      <p>
        {{ order.billing_address.name }}
        {% if order.billing_address.company != '' %}
          {{ order.billing_address.company }}<br>
        {% endif %}
        {{ order.billing_address.street }}<br>
        {{ order.billing_address.city }}, 
        {% if order.billing_address.province != '' %}
          {{ order.billing_address.province }},
        {% endif %}
        {{ order.billing_address.zip | upcase }}<br>
        {{ order.billing_address.country }}<br>
        {{ order.billing_address.phone }}
      </p>

      <h3>Shipping Address</h3>

      <p><strong>Fulfillment Status:</strong> {{ order.fulfillment_status_label }}</p>
      <p>
        {{ order.shipping_address.name }}
        {% if order.shipping_address.company != '' %}
          {{ order.shipping_address.company }}<br>
        {% endif %}
        {{ order.shipping_address.street }}<br>
        {{ order.shipping_address.city }}, 
        {% if order.shipping_address.province != '' %}
          {{ order.shipping_address.province }}, 
        {% endif %}
        {{ order.shipping_address.zip | upcase }}<br>
        {{ order.shipping_address.country }}<br>
        {{ order.shipping_address.phone }}
      </p>

      <a class="trago_button blue" href="/account">Account</a>

    </div>

    <div class="column_3_4">
      <h3>Order</h3>
      <p>{{ order.date | date: "%B %d, %Y %I:%M%p" }}</p>
      {% if order.cancelled %}
        <div class="errors">
          {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
          <p class="h5">{{ 'customer.order.cancelled' }}</p>
          <p>{{ 'customer.order.cancelled_reason' }}</p>
        </div>
      {% endif %}
      <div class="trago_table order_table">
        <div class="trago_table_row trago_table_header">
              <div class="trago_table_cell">Product</div>
              <div class="trago_table_cell">Price</div>
              <div class="trago_table_cell">Quantity</div>
              <div class="trago_table_cell right">Total</div>
        </div>
        <div class="trago_table_body">
          {% for line_item in order.line_items %}
            <div class="trago_table_row">
              <div class="trago_table_cell">
                {{ line_item.title | link_to: line_item.product.url }}
                {% if line_item.fulfillment %}
                  <div class="note">
                    {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
                    {{ 'customer.order.fulfilled_at' }}
                    {% if line_item.fulfillment.tracking_number %}
                      <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              <div class="trago_table_cell">{{ line_item.price | money }}</div>
              <div class="trago_table_cell">{{ line_item.quantity }}</div>
              <div class="trago_table_cell right">{{ line_item.quantity | times: line_item.price | money }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="trago_table_footer">
          <div class="trago_table_row">
            <div class="trago_table_cell">Subtotal</div>
            <div class="trago_table_cell right">{{ order.subtotal_price | money }}</div>
          </div>

          {% for discount in order.discounts %}
            <div class="trago_table_row">
              <div class="trago_table_cell">{{ discount.code }} {{ 'customer.order.discount' }}</div>
              <div class="trago_table_cell right">{{ discount.savings | money }}</div>
            </div>
          {% endfor %}

          {% for shipping_method in order.shipping_methods %}
            <div class="trago_table_row">
              <div class="trago_table_cell">Shipping Method: ({{ shipping_method.title }})</div>
              <div class="trago_table_cell right">{{ shipping_method.price | money }}</div>
            </div>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
            <div class="trago_table_row">
              <div class="trago_table_cell">Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</div>
              <div class="trago_table_cell right">{{ tax_line.price | money }}</div>
            </div>
          {% endfor %}

          <div class="trago_table_row">
            <div class="trago_table_cell"><strong>Total</strong></div>
            <div class="trago_table_cell right"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>