<div class="container with_padding_top_bottom">
  
  <header class="individual_post_header">
      <h1>Register</h1>
  </header>

  <div class="login_form">

    {% form 'create_customer' %}

      {{ form.errors | default_errors }}

      <label for="FirstName">First Name</label>
      <input type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

      <label for="LastName">Last Name</label>
      <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

      <label for="Email">Email</label>
      <input type="email" name="customer[email]" id="Email" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

      <label for="CreatePassword">Password</label>
      <input type="password" name="customer[password]" id="CreatePassword">

      <input type="submit" value="Register">

    {% endform %}

  </div>

</div>
