<div class="container with_padding_top_bottom">
  
  <header class="individual_post_header">
      <h1>Reset Password</h1>
  </header>

  <div class="login_form">
  
    {% form 'reset_customer_password' %}

      {{ form.errors | default_errors }}

      <label for="ResetPassword">Password</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword">

      <label for="PasswordConfirmation">Password Confirmation</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation">

      <input type="submit" value="Submit">

    {% endform %}

  </div>

</div>
