<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
  <meta charset="utf-8" />
  
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  {% include 'open-graph-tags' %}
  
  {% include 'twitter-card' %}

  <!-- Jquery -->

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  <!-- Shopify Scripts -->

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {{ content_for_header }}

  <!-- Styles -->

  {{ 'catesque_webfonts.css' | asset_url | stylesheet_tag }}
  {{ 'normalize.min.css' | asset_url | stylesheet_tag }}
  {{ 'style.min.css' | asset_url | stylesheet_tag }}
  {{ 'flexslider.min.css' | asset_url | stylesheet_tag }}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <!-- Header -->

  <header class="main_header">

    <div class="header_top">
    
      <a class="logo" href="{{ shop.url }}">
        <img src="{{ 'logo.png' | asset_url }}" />
      </a>

      <nav class="main_navigation">
        <ul>
          {% for link in linklists.main-menu.links %}
            {% if link.title == 'Product' %}
              <li {% if page.title == 'Trago Cap' or page.title == 'Trago App' or page.title == 'Trago Boosts' %}class="active product_nav_item"{% else %}class="product_nav_item"{% endif %}>
                <a href="{{ link.url }}">{{ link.title }}</a>
                <span class="underline"></span>
              </li>
            {% else %}
              <li {% if link.active %}class="active"{% endif %}>
                <a href="{{ link.url }}">{{ link.title }}</a>
                <span class="underline"></span>
              </li>
            {% endif %}
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
          <li {% if template == 'customers/login' or template == 'customers/account' %}class="active"{% endif %}>
            {% if customer  %}
              <a href="/account">Account</a><span class="underline"></span>
            {% else %}
              <a href="/account/login">Log In</a><span class="underline"></span>
            {% endif %}
          </li>
          {% endif %}
        </ul>
        <div class="cart_menu_icons">
          <a href="/cart" class="cart_icon_link">
            <div class="cart_icon">
              <img src="{{ 'shopping_cart.png' | asset_url }}" />
            </div>
            <span id="cart_count">
              {% if cart.item_count > 0 %}
                [{{ cart.item_count }}]
              {% endif %}
            </span>
          </a>
          <div class="mobile_menu_icon">
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </nav>

    </div>

    <!-- Product Navigation -->

    <nav {% if page.title == 'Trago Cap' or page.title == 'Trago App' or page.title == 'Trago Boosts' %}class="trago_blue_navigation product_navigation visible"{% else %}class="trago_blue_navigation product_navigation" {% endif %}>
      <ul>
        {% for link in linklists.product.links %}
          <li {% if link.active %}class="active"{% endif %}>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <!-- Mobile Menu -->

    <ul class="mobile_menu">
      {% for link in linklists.mobile-menu.links %}
          <li {% if link.active %}class="active"{% endif %}>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
        <li {% if template == 'customers/login' or template == 'customers/account' %}class="active"{% endif %}>
          {% if customer  %}
            <a href="/account">Account</a>
          {% else %}
            <a href="/account/login">Log In</a>
          {% endif %}
        </li>
      {% endif %}
    </ul>

  </header>

  <!-- Main Content -->

  <main id="main" {% if page.title == 'Trago Cap' or page.title == 'Trago App' or page.title == 'Trago Boosts' %}class="main_content product_page_main_content"{% else %}class="main_content"{% endif %} role="main">

    <!-- Page Content -->

    {{ content_for_layout }}
  
  </main>

  <!-- Footer -->

  <footer class="main_footer">

    <div class="container">

      <div class="trago_row">

        <!-- Footer Nav -->
    
        <div class="column_2_5">
          <nav class="footer_navigation">
            <ul>
              {% for link in linklists.footer.links %}
                <li>
                  <a href="{{ link.url }}"><b>{{ link.title }}</b></a>
                </li>
              {% endfor %}
            </ul>
            <ul>
              {% for link in linklists.footer-secondary-menu.links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          <p>© {{ 'now' | date: "%Y" }} Trago, Inc. All Rights Reserved.</p>
        </div>

        <!-- Contact -->

        <div class="column_1_5">
          <p>Contact <br /> <a href=""><b>info@trago.co</b></a></p>
          <ul class="social_icons">
            {% unless settings.facebook_url == blank %}
              <li>
                <a href="{{ settings.facebook_url }}" target="_blank">
                  <img src="{{ 'social icons_White_facebook.png' | asset_url }}" />
                </a>
              </li>
            {% endunless %}
            {% unless settings.instagram_url == blank %}
              <li>
                <a href="{{ settings.instagram_url }}" target="_blank">
                  <img src="{{ 'social icons_White_instagram.png' | asset_url }}" />
                </a>
              </li>
            {% endunless %}
            {% unless settings.twitter_url == blank %}
              <li>
                <a href="{{ settings.twitter_url }}" target="_blank">
                  <img src="{{ 'social icons_White_twitter.png' | asset_url }}" />
                </a>
              </li>
            {% endunless %}
          </ul>
        </div>

        <!-- Newsletter Signup -->

        <div class="column_2_5">
          <p>Sign up for the Trago newsletter to stay up-to-date on Trago news, hydration info and giveaways.</p>
          {% include 'mailchimp_form' %}
      </div>

    </div>

  </footer>

  <!--[if lt IE 8]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
    
  <!-- Scripts -->

  {{ 'scripts.min.js' | asset_url | script_tag }}

  {{ 'shop.js'  | asset_url | script_tag }}

  {{ 'modified_customer_addresses.js' | asset_url | script_tag }}

  <!-- Third Party Scripts -->

  {{ 'fitvids.min.js' | asset_url | script_tag }}

  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}

  {{ 'https://use.fontawesome.com/bfa5b116b0.js' | script_tag }}

  {{ 'jquery.mousewheel.min.js' | asset_url | script_tag }}

  <!-- Google Code for Remarketing Tag -->
  
  <div style="display: none;">
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 870700167;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/870700167/?guid=ON&amp;script=0"/>
      </div>
    </noscript>
  </div>

</body>
</html>