{% unless linklists[product_tabs] == blank %}

	<nav class="trago_blue_navigation product_tabs">
		<ul>
			{% for link in linklists[product_tabs].links %}
			  	<li {% if forloop.first %}class="active"{% endif %} data-name="{{ link.title | handleize }}">
			  		<span>{{ link.title }}</span>
			  	</li>
			{% endfor %}
		</ul>
	</nav>

	<div class="trago_panel background_lightblue">
		<div class="container">
			{% for link in linklists[product_tabs].links %}
				<div class="product_tab_content {{ link.title | handleize }} {% if forloop.first %}active{% endif %}" style="{% if forloop.first %}display: block;{% endif %}">
					{{ link.object.content }}
				</div>
			{% endfor %}
		</div>
	</div>
	
{% endunless %}