{% comment %}

Default product template that shows an image slider and allows for select dropdowns.

At the bottom of the html is a script that dynamically show price and updates the selected variant ID.
The script for adding the product to the cart is in scripts.js.

{% endcomment %}

<div class="trago_row">
  
  <!-- Images -->

  <div class="column_1_2 product_slider_container">
    
    <div class="trago_slider flexslider">
      <ul class="slides">
        {% for image in product.images %}
          <li data-color="{{ image.alt | handleize }}">
              <img src="{{ image | product_img_url: 'original' }}"/>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>

  <!-- Product Information -->

  <div class="column_1_2">
    <form id="product_form">

      <!-- Title / Description -->

      <div class="product_information_header">
        <h3>{{ product.title }}</h3>
        {% unless product.description == blank %}
          <p>{{ product.description }}</p>
        {% endunless %}
      </div>

      <!-- Variants -->

      {% if product.variants.size > 1 %}
        {% if product.options[0] %}

           <div class="product_variant_container">
              {% assign used = '' %}
              <label for="select_one"><h3 class="font_medium">{{ product.options[0] }}</h3></label>
              <div class="trago_select_container">
                <select id='select_one' onchange="updateProductInformation()">
                  {% for variant in product.variants %}
                    {% unless used contains variant.option1 %}
                      <option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
                      {% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
                    {% endunless %}
                  {% endfor %}
                </select>
              </div>
          </div>

        {% endif %}

        {% if product.options[1] %}

          <div class="product_variant_container">
            {% assign used = '' %}
            <label for="select_two"><h3 class="font_medium">{{ product.options[1] }}</h3></label>
            <div class="trago_select_container">
              <select id='select_two' onchange="updateProductInformation()">
                {% for variant in product.variants %}
                  {% unless used contains variant.option2 %}
                    <option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
                    {% capture used %}{{ used }} {{ variant.option2 }}{% endcapture %}
                  {% endunless %}
                {% endfor %}
              </select>
            </div>
          </div>

        {% endif %}
        
        {% if product.options[2] %}
          <div class="product_variant_container">
            {% assign used = '' %}
            <label for="select_three"><h3 class="font_medium">{{ product.options[2] }}</h3></label>
            <div class="trago_select_container">
              <select id='select_three' onchange="updateProductInformation()">
                {% for variant in product.variants %}
                  {% unless used contains variant.option3 %}
                    <option value="{{ variant.option3 }}">{{ variant.option3}}</option>
                    {% capture used %}{{ used }} {{ variant.option3 }}{% endcapture %}
                  {% endunless %}
                {% endfor %}
              </select>
            </div>
          </div>
        {% endif %}
      
      {% endif %}

      <!-- Quantity -->

      <div class="product_variant_container">
        <label for="quantity"><h3 class="font_medium">Quantity</h3></label>
        <div class="quantity_input_container">
          <input min="1" type="number" id="quantity" name="quantity" onchange="updateProductInformation()" value="1" />
          <div class="quantity_controls">
            <div class="quantity_arrow quantity_up">▲</div>
            <div class="quantity_arrow quantity_down">▼</div>
          </div>
        </div>
      </div>
      
      <!-- Price -->

      <h2 class="text_blue font_medium product_price" id="product_price">{{ product.selected_or_first_available_variant.price | money }}</h2>
      
      <!-- Add To Cart -->
      
      <input type="submit" name="add" id="add_to_cart" data-variant-id="{{ product.variants.first.id }}" class="trago_button blue" value="Add To Cart">

      <!-- Ajax Message -->

      <p class="ajax_message"></p>

    </form>

  </div>

</div>

<script>

  // Function runs every time a variant radio button or select dropdown changes.

  function updateProductInformation() {

    // Save the option select values

    {% if product.options[0] %}
      var opt1 = document.getElementById('select_one').value;
    {% endif %}
    {% if product.options[1] %}
      var opt2 = document.getElementById('select_two').value;
    {% endif %}
    {% if product.options[2] %}
      var opt3 = document.getElementById('select_three').value;
    {% endif %}

    // Capture the quantity and save it as a liquid variable

    var quantity = document.getElementById('quantity').value;

    {% capture quantity %}quantity{% endcapture %}

    var id = '';

    // Loop through all of the variants to check if the option values match any of the variant combinations

    {% for v in product.variants %}
      if(opt1=="{{ v.option1 }}"{% if product.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}{% if product.options[2] %} && opt3=="{{ v.option3 }}"{% endif %}) {

        // Save the ID for the specific variant combination.

        var id = {{ v.id }};

        // Check if the variant is available

        var available = '';

        {% if v.available %}
          available = true;
        {% else %}
          available = false;
        {% endif %}

        // Save the price given the quantity the user has selected. Once multiplied then format the price using the js api.

        var fullPrice = {{ quantity }} * {{ v.price }};
        var formattedPrice = Shopify.formatMoney(fullPrice, "{{ shop.money_format }}" );
      }
    {% endfor %}

    // If variant ID is found then activate the add to cart button, set its variant ID and the price of the variant.

    if(id!='' && available) {
      document.getElementById('add_to_cart').disabled = false;
      document.getElementById('add_to_cart').setAttribute('data-variant-id', id);
      document.getElementById('product_price').innerHTML = formattedPrice;
    } 

    // Else the variant isn't available then disable the add to cart button and set the Out Of Stock message.
    
    else {
      document.getElementById('add_to_cart').disabled = true;
      document.getElementById('product_price').innerHTML = 'Out Of Stock';
    }
  }

</script> 