/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #000000;

$beige: #F5F2F0;
$darkbeige: #EFE9E6;

// Greys

$textgrey: #2C2C2C;

// Vibrants

$lightblue: #EFF9FC;
$blue: #29aae1;
$darkblue: #04384A;