@import "_variables.scss";
@import "_mixins.scss";

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
  font-family: 'Catesque-Regular', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

body {
  background-color: $beige;
  color: $darkblue;
}

h1 {
  font-family: 'Catesque-Black', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  line-height: normal;

  @include tablet {
    font-size: 35px;
  }

  @include mobile_landscape {
    font-size: 30px;
  }
}

h2 {
  font-family: 'Catesque-Black', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: normal;

  @include mobile_landscape {
    font-size: 25px;
  }
}

h3 {
  font-family: 'Catesque-Black', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: normal;
}

p, h1, h2, h3 {
  margin: 0px 0px 20px;
}

h1, h2, h3 {
  letter-spacing: .4px;
}

a, a:visited, a:active, a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

a {
  transition: color .2s ease-in-out, opacity .2s ease-in-out;
}

b, strong {
  font-family: 'Catesque-Bold', sans-serif;
}

.font_medium {
  font-family: 'Catesque-Light', sans-serif;
  font-weight: normal;
}

/*==================================
HELPERS
==================================*/

/*=== Text Color ===*/

.text_white {
  color: $white;
}

.text_blue {
  color: $blue;
}

.text_darkblue {
  color: $darkblue;
}

/*=== Backgrounds ===*/

.background_blue {
  background: $blue;
  color: $white;
}

.background_white {
  background: $white;
}

.background_lightblue {
  background: $lightblue;
}

.background_darkblue {
  background: $darkblue;
}

.background_gradient {
  background: linear-gradient($beige, $darkbeige);
}

.background_image_panel {
    height: 600px;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;

    p {
      font-size: 24px;
      line-height: 32px;
      font-family: 'Catesque-Medium', sans-serif;
    }
}

/*=== Margins / Padding ===*/

.margin_bottom_0 {
  margin-bottom: 0px;
}

.margin_bottom_50 {
  margin-bottom: 50px;
}

.with_padding_top_bottom {
  padding: 50px 0px;
}

/*=== Fonts ===*/

.uppercase {
  text-transform: uppercase;
}

/*=== Alignment ===*/

.center {
  text-align: center;
}

/*=== Lists ===*/

ul.no_bullets {
  list-style-type: none;
}

ol {
  list-style-position: inside;

  li {
    margin-bottom: 20px;
  }
}

/*==================================
COMPONENTS
==================================*/

/*=== Images ===*/

img {
  display: block;
  max-width: 100%;
}

.center img {
  margin: 0 auto;
}

/*=== Lists ===*/

ul, ol {
  margin: 0px;
  padding: 0px;
}

/*=== Buttons ===*/

.trago_button, .login_form input[type="submit"] {
  display: inline-block;
  font-family: 'Catesque-Bold';
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 30px 8px;
  border: 0;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.trago_button.blue, .login_form input[type="submit"] {
  background: $blue;
  color: $white;

  &:hover {
    background: $darkblue;
  }
}

.trago_button.dark_blue {
  background: $darkblue;
  color: $white;

  &:hover {
    background: $white;
    color: $darkblue;
  }
}

.trago_button.white {
  background: $white;
  color: $blue;

  &:hover {
    background: $darkblue;
    color: $white;
  }
}

input[type=radio] {
  outline: 0;
  cursor: pointer;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
}

/*=== Select ===*/

.trago_select_container {
  position: relative;
}

.trago_select_container select {
    background: transparent;
    border: 1px solid $darkblue;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    padding: 10px;
    position: relative;
    appearance: none;
    cursor: pointer;
    z-index: 2;

    &::-webkit-input-placeholder {
        color: $blue;
        font-size: 14px;
    }
}

// Down Arrow

.trago_select_container:after {
  content: "▼";
  width: 30px;
  font-size: 13px;
  height: 100%;
  padding: 5px 0px 0px;
  text-align: center;
  color: $blue;
  display: block;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*=== Input ===*/

input[type="number"] {
  background: transparent;
  border: 1px solid $darkblue;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  appearance: none;
  position: relative;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

/*=== Social Icons ===*/

ul.social_icons li {
    display: inline-block;
    margin-right: 5px;
    width: 28px;
}

/*=== Videos ===*/

video {
  display: block;
  width: 100%;
}

/*=== Image / Text Column ===*/

.icon_text_column img {
  width: 50%;
  max-width: 200px;
  margin: 0 auto 30px;
}


/*=== Arrow Icon ===*/

span.arrow_with_circle {
  border: 2px solid;
  border-radius: 50%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  display: inline-block;
  height: 25px;
}

span.arrow_with_circle i {
  font-size: 18px;
  position: absolute;
  top: 1px;

  &.fa-angle-right {
    left: 8px;
  }

  &.fa-angle-left {
    right: 8px;
  }
}

/*=== Flexslider ===*/

.trago_slider .flex-control-paging li a {
  background: transparent;
  border: 1px solid $blue;
  width: 18px;
  height: 18px;

  &.flex-active, &:hover {
    background: $blue;
  }
}

.trago_slider .flex-control-nav {
    position: relative;
    bottom: -8px;
}

/*==================================
GRID
==================================*/

.trago_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -10px;
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4, .column_1_5, .column_2_5, .column_3_5 {
  position: relative;
  margin: 0px 0px 20px;
  padding: 0px 10px;
}

.column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4, .column_1_5, .column_2_5, .column_3_5 {
  img {
    @include tablet {
      width: 100%;
    }
  }
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include tablet {
      width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
      width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
      width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
      width: 50%;
    }

    @include mobile_landscape {
      width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include tablet {
      width: 100%;
    }
}

.column_1_5 {
  width: 20%;
  @include tablet {
    width: 100%;
  }
}

.column_2_5 {
  width: 40%;
  @include tablet {
    width: 100%;
  }
}

.column_3_5 {
  width: 60%;
  @include tablet {
    width: 100%;
  }
}

/*=== Stretch columns so their content blocks are the same height ===*/

.stretch_height {
    display: flex;
    flex-direction: column;
}

.stretch_height .content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.stretch_height .trago_button {
  width: 60%;
  margin: 0 auto;
}

// Special Row Settings for half column layout

.trago_row .flex_vertical_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.media_container {
  padding: 0px 50px;
}

.media_container img {
  @include tablet {
    width: 100%;
  }
}

// Responsive ensure images go on top of text

.trago_row.image_on_right .column_1_2:first-child, .trago_row.image_on_right .column_3_5:first-child {
  @include tablet {
    order: 2;
  }
}

/*==================================
STRUCTURE
==================================*/

.main_content {
  margin: 80px 0px 0px;
  opacity: 0;
  transition: all .5s ease-in-out;
}

body.loaded .main_content {
  margin: 60px 0px 0px;
  opacity: 1;
}

body.loaded .product_page_main_content {
  margin: 120px 0px 0px;

  @include tablet {
    margin: 60px 0px 0px;
  }
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.small_container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

// General panel for sections of each page

.trago_panel {
  padding: 50px 0 40px;
}

// General Header Area

header.trago_header {
  text-align: center;
  margin-bottom: 50px;

  h1 {
    font-family: 'Catesque-Light', sans-serif;
    font-weight: normal;
  }

  h1, h2 {
    margin-bottom: 5px;
  }
}

/*==================================
MAIN HEADER
==================================*/

header.main_header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  height: 60px;
  background: $beige;
  box-shadow: 0px 0px 10px 0px rgba($black, 0.12);
  width: 100%;

  @include tablet {
    padding: 0px 20px;
  }
}

// Logo

.main_header .logo {
  width: 120px;
  transition: width .3s ease-in-out;
}

// Shopping Cart

.cart_menu_icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a.cart_icon_link {
    display: flex;
    margin-right: 20px;
}

.cart_icon {
    width: 24px;
    margin-right: 10px;
}

.cart_icon img {
    margin-right: 10px;
    display: block;
    width: 100%;
}

// Mobile Menu Icon

.mobile_menu_icon {
  display: none;

  @include tablet {
    display: block;
  }
}

/*==================================
MAIN NAVIGATION
==================================*/

.main_navigation {
  width: 80%;
  height: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.main_navigation ul {
  height: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;

  @include tablet_landscape {
    margin-right: 20px;
  }

  @include tablet {
    display: none;
  }
}

.main_navigation ul li {
  margin: 0px 20px;
  height: 100%;
  padding: 18px 0px;
  text-transform: uppercase;
  font-family: 'Catesque-Bold', sans-serif;
  font-size: 16px;
  position: relative;

  &:last-child {
    margin: 0px 0px 0px 20px;

    @include tablet_landscape {
      margin: 0px 0px 0px 10px;
    }
  }

  @include tablet_landscape {
    margin: 0px 10px;
  }
}

span.underline {
  position: absolute;
  left: 0;
  bottom: 16px;
  height: 2px;
  width: 100%;
  background: $blue;
  transform-origin: center center;
  transform: scale(0,1);
  transition: transform .3s ease-in-out;
}

.main_navigation ul li:hover span.underline {
  transform: scale(1,1);
}

.main_navigation ul li a {
  &:hover {
    color: $blue;
  }
}

.main_navigation ul li.active a {
  color: $blue;
}

.main_navigation ul li.active span.underline {
  transform: scale(1,1);
}

/*==================================
MOBILE MENU
==================================*/

ul.mobile_menu {
    
    position: relative;
    z-index: 8;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    list-style-type: none;
    background: $beige;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease-in-out;

    &.open {
        max-height: 500px;
        opacity: 1;
        z-index: 9;
        margin-bottom: 15px;
    }

}

ul.mobile_menu li {
    border-bottom: 1px solid $darkbeige;
    padding: 10px 0px;
    font-size: 14px;
}

ul.mobile_menu li a{
  color: $darkblue;
}

/*==================================
NAVIGATIONS
==================================*/

// General Nav

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

// Blue Navigation Bar

// Product

nav.trago_blue_navigation {
  background: $blue;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.trago_blue_navigation ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav.trago_blue_navigation ul li {
  text-transform: uppercase;
  padding: 5px 20px 3px;
  margin: 0px 40px;
  font-family: 'Catesque-Bold', sans-serif;
  font-size: 18px;
  border: 2px solid transparent;

  &.active {
    border: 2px solid $white;
    border-radius: 4px;
  }

  @include tablet_landscape {
    margin: 0 10px;
    font-size: 16px;
  }

  @include tablet {
    margin: 0 5px;
    font-size: 14px;
  }

  @include mobile_landscape {
    width: 100%;
    text-align: center;
  }

}

nav.trago_blue_navigation ul li a, nav.trago_blue_navigation ul li span {
  color: $white;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }
}

// Product

nav.product_navigation {
  background: $blue;
  max-height: 0px;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;

  &.visible {
    max-height: 60px;
    padding: 30px 0px;
    opacity: 1;
  }

  @include tablet {
    display: none;
  }
}

// Breadcrumbs

nav.trago_breadcrumbs {
  background: $blue;
  color: $white;
  text-transform: uppercase;
  padding: 20px 50px;

  @include mobile_landscape {
    padding: 10px 20px;
    font-size: 14px;
  }
}

/*==================================
PAGE HEADER
With image or video below text
==================================*/

.page_header {
  position: relative;
  height: 500px;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  @include desktop {
    height: 700px;
  }

  @include mobile_landscape {
    height: 400px;
  }
}

.page_header:before {
  @include overlay(rgba($darkblue, .2));
}

// Image

.page_header img {
    width: 100%;
    display: block;
}

// Video

.page_header video {
  @include tablet_landscape {
    display: none;
  }
}

// Content

.page_header h1 {
  font-family: 'Catesque-Light', sans-serif;
  font-weight: normal;
  margin: 5px 0px;
  font-size: 45px;
  @include tablet {
    font-size: 35px;
  }
  @include mobile_landscape {
    font-size: 25px;
  }
}

.page_header h2 {
  margin-bottom: 0px;
  font-size: 23px;
}

.page_header a {
  margin-top: 20px;
}

.page_header .content_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_header .content_container .content {
  color: $white;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.page_header p {
  font-size: 17px;
  line-height: 23px;
  font-family: 'Catesque-Medium', sans-serif;
}

// Down Arrow

.down_arrow {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
}

.down_arrow .fa-angle-down {
    font-size: 50px;
    cursor: pointer;
    color: $white;
}

/*==================================
HOMEPAGE
==================================*/

// Hydration System

ul.hydration_system {
  list-style: none;
  padding-left: 60px;

  @include tablet {
    padding-left: 0;
  }
}

.hydration_system li {
  display: flex;
}

.hydration_system_number {
  margin-right: 20px;
}

.hydration_system_number span {
  background: $white;
  border-radius: 50%;
  font-family: "Catesque-Medium", sans-serif;
  color: $blue;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  padding: 3px 0px 0px;
}

.hydration_system_text h3 {
  margin-bottom: 5px;
}

// Press

ul.press_images {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0px 0px 30px;
}

ul.press_images li {
  width: 25%;
  padding: 0px 20px;
  opacity: .3;
  cursor: pointer;

  @include mobile_landscape {
    width: 50%;
  }
}

.press_images li.active {
  opacity: 1;
}

.press_quotes p {
  display: none;
  text-transform: uppercase;
  font-size: 23px;

  &.active {
    display: block;
  }
}

/*==================================
PRODUCT
==================================*/

// Header

.product_header_content_container {
    position: absolute;
    top: 0;
    display: flex;
    color: $white;
    left: 50px;
    height: 100%;
    align-items: center;
}

.product_header_content {
    display: flex;
    flex-flow: row wrap;
}

.product_header_content .content {
    max-width: 650px;
}

.product_header_content .content .trago_mailchimp_form  {
    width: 80%;
    @include mobile_landscape {
      display: none;
    }
}

.product_header_content .content p  {
    @include mobile_landscape {
      display: none;
    }
}

.product_header_content .icon {
  margin-right: 20px;
  width: 100px;

  @include mobile_landscape {
    width: 60px;
    margin-bottom: 20px;
  }
}

.product_header_content .content {
  @include mobile_landscape {
    width: 100%;
  }
}

// Panels

.trago_product_panel {
  padding: 30px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    padding: 50px 0px 30px;
  }
}

.trago_product_panel.no_bottom_padding {
  padding: 30px 0px 0px;
}

.trago_product_panel.no_bottom_padding .media_container {
  margin-bottom: 0;

  @include tablet {
    margin-bottom: 20px;
  }
}

// Icon/Text

.icon_text_container {
  display: flex;
}

.icon_text_container .icon {
  width: 15%;
  margin-right: 20px;
}

.icon_text_container .text {
  width: 85%;
  margin-top: 20px;

  h3 {
    color: $blue;
  }

  @include tablet {
    margin-top: 0;
  }
}

/*==================================
PRODUCT CAP
==================================*/

ul.app_icons {
  list-style-type: none;
  display: flex;

  li {
    display: inline-block;
    width: 25%;
  }

}

ul.app_icons p {
  font-size: 12px;
  text-align: center;
}

/*==================================
PRODUCT APP
==================================*/

.download_apps img {
    width: 250px;
}

/*==================================
PAGE NAVIGATION DOTS
==================================*/

.page_scroll_container {
  position: relative;
}

.page_navigation_dots_container {
    position: fixed;
    top: 0;
    left: 50px;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;

    @include tablet {
      display: none;
    }
}

ul.page_navigation_dots {
  transform: translateY(50px);
  opacity: 0;
  transition: all .5s ease-in-out;

  &.visible {
    transform: translateY(30px);
    opacity: 1;
  }
}

ul.page_navigation_dots li {
    border-radius: 50%;
    border: 1px solid;
    height: 20px;
    width: 20px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Flyout Text

span.panel_title {
  position: absolute;
  left: 5px;
  top: -4px;
  font-size: 14px;
  width: 0px;
  opacity: 0;
  transition: all .3s ease-in-out;
}

ul.page_navigation_dots li:hover .panel_title {
  left: 25px;
  width: 300px;
  opacity: 1;
}

// Blue Dot

span.blue_dot {
    display: block;
    width: 10px;
    height: 10px;
    background: $blue;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    transition: all .5s ease-in-out;
}

ul.page_navigation_dots li.active span.blue_dot {
  transform: scale(1);
  opacity: 1;
}

/*==================================
SHOP
==================================*/

// Panels

.shop_collections .trago_panel {
  border-bottom: 1px solid $blue;

  &:last-child {
    border-bottom: 0px;
  }
}

.individual_product_container {
    display: block;
    border-radius: 5px;
    padding: 20px;
    transition: background .3s ease-in-out;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.individual_product_container img {
  margin-bottom: 20px;
  transition: transform .3s ease-in-out;
}

.individual_product_container:hover img {
  transform: scale(1.1);
}

.individual_product_container h3 {
    margin-bottom: 5px;
}

.individual_product_container:hover .trago_button {
  background: $darkblue;
}

/*==================================
INDIVIDUAL PRODUCT PAGE
==================================*/

/*=== Images ===*/

.product_slider_container {
    display: flex;
    flex-flow: row wrap;
}

.product_slider {
  width: 80%;
}

.product_slider li img {
    margin: 0 auto;
}

ul.product_thumbnails {
    display: flex;
    flex-direction: column;
    width: 20%;
    list-style: none;
}

.product_thumbnails li {
    margin-bottom: 20px;
    cursor: pointer;
}

.product_thumbnails .flex-active {
    opacity: .5;
}

/*=== Product View Toggle ===*/

ul.product_view_toggle {
    list-style: none;
    text-align: center;
    padding: 30px 0px 0px;
}

ul.product_view_toggle li {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Catesque-Medium', sans-serif;
}

ul.product_view_toggle li:after {
    content: "|";
    padding: 0px 10px;
}

ul.product_view_toggle li:last-child:after {
    content: "";
    padding: 0px;
}

// Active toggle

ul.product_view_toggle li.active span {
  color: $blue;
  text-decoration: underline;
}

/*=== Product Information ===*/

// Header 

.product_information_header {
  border-bottom: 1px solid $blue;
}

.product_information_header h3 {
  margin-bottom: 5px;
}

// Variants

.product_variant_container {
    padding: 10px 0px;
    color: $blue;
    border-bottom: 1px solid;

    h3 {
      margin-bottom: 5px;
      font-size: 16px;
    }
}

// Color Variants

.trago_color_variants input[type="radio"] {
  display: none;
}

.trago_color_variants label {
    background: $black;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid $darkblue;
    position: relative;
    cursor: pointer;
}

.trago_color_variants input[type=radio]:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background: $blue;
    border-radius: 50%;
    top: 7px;
    left: 7px;
}

// Quantity Input

.quantity_input_container {
  position: relative;
}

.quantity_controls {
    position: absolute;
    right: 9px;
    bottom: 3px;
    height: 100%;
}

.quantity_arrow {
    font-size: 12px;
    height: 14px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: .5;
    }
}

// Price

.product_price {
    margin: 10px 0px;
}

// AJAX Message

.ajax_message {
  margin: 10px 0px;
}

/*=== Product Tabs ===*/

.product_tab_content {
  display: none;
}

/*==================================
BOOSTS PRODUCT PAGE
==================================*/

section.about_boosts {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 150px; 
}

section.about_boosts .column_1_3 {
  padding: 100px 30px;
  margin: 0px;
  text-align: center;

  img {
    margin: 0 auto 30px;
  }
}

section.about_boosts .column_1_3:nth-child(2) {
  border-left: 1px solid;
  border-right: 1px solid;
}

/*==================================
CART
==================================*/

// Header 

.cart_header {
  background: $blue;
  color: $white;
  padding: 10px 10px 3px;
  margin-bottom: 20px;

  @include tablet {
    display: none;
  }
}

.cart_header h3 {
  margin-bottom: 0px;
  font-family: Catesque-Regular,sans-serif;
  font-size: 16px;
}

// Columns

.cart_item_row {
  border-bottom: 1px solid $blue;
  padding: 20px 0px;
}

.cart_item_column, .cart_price_column, .cart_quantity_column, .cart_total_column {
  padding: 0px 10px;
}

// Item Column

.cart_item_column {
    width: 40%;

    @include tablet {
      width: 80%;
    }
}

.cart_item_column {
  p, h3 {
    margin-bottom: 5px;
  }
}

.cart_item_column a {
    display: flex;
}

.cart_image_container {
    width: 45%;
}

// Price Column

.cart_price_column {
    width: 20%;
}

// Quantity Column

.cart_quantity_column {
    width: 20%;
    @include tablet {
      width: 100%;
      margin-top: 20px;
    }
}

// Total Column

.cart_total_column {
    width: 20%;
    text-align: right;
    @include tablet {
      display: none;
    }
}

// Cart Bottom

.cart_bottom {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
}

.cart_bottom_container {
  text-align: right;
}

/*==================================
BLOG
==================================*/

/*=== Individual Post Blocks ===*/

.blog_post {
  display: block;
  position: relative;
}

.blog_post_overlay_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  color: $white;
  background: rgba($darkblue, .4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background .3s ease-in-out;
}

.blog_post_overlay_content h3.post_date {
  margin-bottom: 3px;
  margin-top: 50px;
  transition: all .3s ease-in-out;
}

.blog_post_overlay_content h2 {
  font-size: 30px;

  @include mobile_landscape {
    font-size: 20px;
  }
}

// Read More

.blog_post .read_more {
  opacity: 0;
  margin-bottom: 0px;
  transition: opacity .3s ease-in-out;
}

.blog_post span.arrow_with_circle {
  margin-top: -6px;
  transform: translateX(-20px);
  opacity: 0;
  transition: all .3s ease-in-out;
}

// Hover Animations

.blog_post:hover {
  .blog_post_overlay_content {
    background: rgba($darkblue, .8);
  }
  .blog_post_overlay_content h3.post_date {
    margin-top: 0px;
  }
  .read_more {
    opacity: 1;
  }
  span.arrow_with_circle {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*=== Pagination ===*/

.trago_pagination {
  position: relative;
  display: block;
  margin: 50px 0px 0px;
}

.pagination_numbers {
  width: 100%;
  position: relative;
  margin-bottom: -27px;
  text-align: center;
  color: $darkblue;
}

.pagination_links {
  width: 100%;
  position:relative;
  overflow: auto;

  h3 {
    margin-bottom: 0px;
  }
}

.pagination_links a {
  display: flex;
  align-items: center;
  color: $blue;

  &:hover {
    color: $darkblue;
  }
}

.pagination_next {
  float: right;

  .arrow_with_circle {
    margin: 0px 0px 2px 8px;
  }
}

.pagination_previous {
  float: left;

  .arrow_with_circle {
    margin: 0px 8px 2px 0px;
  }
}

/*==================================
INDIVIDUAL BLOG POST
==================================*/

.template-article .page_header {
  height: 300px;
}

header.individual_post_header {
  text-align: center;
  margin-bottom: 30px;

  h3, h2, h1 {
    margin-bottom: 3px;
  }

  h3 {
    font-size: 16px;
  }
}

.individual_post_header h1 {
  font-family: 'Catesque-Light', sans-serif;
  font-weight: normal;
}

.individual_post_content {
  color: $darkblue;
}

.individual_post_content ul {
    list-style: inside;
    margin-bottom: 20px;
}

.individual_post_content a {
  color: $blue;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

/*==================================
LOGIN FORM
==================================*/

.login_form {
    max-width: 400px;
    margin: 0 auto;

    &.left_aligned {
      margin: 0;
    }
}

.login_form label {
    display: block;
}

.login_form input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    padding: 8px;
}

// Forgot Password Label

label.forgot_password_label {
    display: flex;
    justify-content: space-between;

    a {
      font-size: 10px;
    }
}

// Recover Password

.recover_password_form {
  display: none;
}

// Tables

.trago_table_row {
  display: flex;

  @include mobile_landscape {
    flex-flow: row wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
  }
}

.trago_table_header {
    background: $blue;
    color: $white;
    padding: 5px;
    margin-bottom: 10px;

    @include mobile_landscape {
      display: none;
    }
}

.trago_table_cell {
    width: 25%;

    @include mobile_landscape {
      width: 50%;
    }
}

.trago_table_cell.right {
  text-align: right;
  @include mobile_landscape {
    text-align: left;
  }
}

.trago_table_footer .trago_table_row .trago_table_cell:first-child {
    justify-content: space-between;
    width: 75%;
}

.order_table .trago_table_body {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

// Errors

.errors ul {
    list-style: none;
    padding: 0px 0px 20px;
    color: $textgrey;
    font-style: italic;

    a {
      color: $blue;
    }
}

// Address

.individual_address_container {
    background: $white;
    padding: 20px;
    margin-bottom: 20px;
}

/*==================================
FOOTER
==================================*/

footer.main_footer {
  background: $darkblue;
  color: $white;
  padding: 50px 0px 30px;
  text-transform: uppercase;

  p, li {
    font-size: 14px;
    line-height: 20px;
  }

}

footer.main_footer a:hover {
  color: $blue;
}

// Footer Nav

.footer_navigation ul {
    margin-bottom: 3px;
}

.footer_navigation li:after {
    content: "|";
    padding: 0px 5px;
}

.footer_navigation li:last-child:after {
    display: none;
}

// Mailchimp

.trago_mailchimp_form {
    width: 100%;
}

.trago_mailchimp_form input[type="submit"] {
    background: $blue;
    color: $white;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Catesque-Bold';
    text-transform: uppercase;
    padding: 10px 15px 8px;
    width: 25%;
}

.trago_mailchimp_form input[type=email] {
    padding: 10px 10px 8px;
    border-top-right-radius: 3px;
    border: 0;
    border-bottom-right-radius: 3px;
    width: 75%;
    color: $darkblue;
}